.mainDiv{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
}

p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.signupCard {
    min-width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    /* border-color: rgba(158, 1, 243, 1); */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px  rgba(158, 1, 243, 0.405);
    background: #F2F6FF;
    backdrop-filter: blur(30px);
}
input{
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    /* width: auto; */
}
form{
    width: 100%;
}
.avatarDiv{
    border-radius: 50%;
    border: 1px solid rgba(63, 61, 86, 1);
    width: 90px;
    height: 90px;
    overflow: hidden;
    cursor: pointer;

}
.avatarDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button:hover{
    opacity: 0.8;
}
.imgUploaded{
    width: 150px;
    height: 200px;
}
.avatarDiv:hover{
    opacity: 0.8;
}


