/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #F2F6FF;
    backdrop-filter: blur(30px);
}
.mat-mdc-snack-bar-container 
,.red-snackbar {
    padding-top: 1rem;
  --mdc-snackbar-container-color:#f44336 ;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

}
.blue-snackbar {
  --mdc-snackbar-container-color:#0651FA  ;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
.green-snackbar {
  --mdc-snackbar-container-color:#03a000  ;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}